<div body-wrap ng-scope>

  <form ng-submit="submitData()" name="form">
    <label>Body text</label>
    <textarea ng-model="pageData.page.body" name="body" style="margin: 0px; height: 97px; width: 161px;"
      required="required"></textarea><br>
    <div ng-messages="form.body.$error">
      <div ng-message="required">Body is required</div></div>

    <label>Ending</label>
    <input ng-model="pageData.page.end" type="text"><br>
    <label>Choice 1</label>
    <input ng-model="pageData.page.choice1" type="text"><br>
    <label>Choice 2</label>
    <input ng-model="pageData.page.choice2" type="text"><br>
    <input class="btn-primary" type="submit">
  </form>

</div>

<% 
=begin %>


{"utf8"=>"✓",
 "authenticity_token"=>"u46vgibuIviwdEEHvkjgStTcR3bLGsRhCUw+cHp947Z1GeM4qNQ+xq32mrrHld/eRmJkR0nCDYPh8R/JRy2qkw==",
 "page"=>
  {"adventure_id"=>"",
   "parent_id"=>"1",
   "user_id"=>"2",
   "body"=>"thlejrg lkaj rglkjhaelkrjghl akjerhg klajeh rgklja eklrjghekajrhg klajhrgk jahe rgkjha elkrjgh lkaje lrkgjh alkejhr glkajherlkgj alekjrghlae",
   "end"=>"",
   "choice1"=>"flkjaherlkfja elrgkjhaer",
   "choice2"=>"kjhlekrgjha lrkejagh"},
 "commit"=>"submit",
 "adventure_id"=>":adventure_id"}


<% if params[:adventure_id] && params[:adventure_id] != "new" && params[:adventure_id] != ":adventure_id" && session[:user_id] %>
  <% if Adventure.find(params[:adventure_id]).critical? %>
    <div style="">This Adventure is <b>critical!</b></div>
  <% else %>
    <div style="">You have <b> <%= pluralize(User.find(session[:user_id]).ends_available(Adventure.find(params[:adventure_id])), "ending") %></b> available.</div>
  <% end %>
<% end %>
<br>

<%= form_for @page, url: "/adventures/:adventure_id/pages/new" do |f| %>
<%= f.hidden_field :adventure_id %>
<%= f.hidden_field :parent_id %>
<%= f.hidden_field :user_id %>
<%= f.label "Body Text" %>
<%= f.text_area :body %><br>
<%= f.label "Ending" %>
<%= f.text_field :end %><br>
<%= f.label "Choice 1" %>
<%= f.text_field :choice1 %><br>
<%= f.label "Choice 2" %>
<%= f.text_field :choice2 %><br>

<%= f.submit "submit", data: {confirm: "You are about to submit. Are you sure?"} %>
<% end %>

</div>



<form class="new_page ng-pristine ng-valid" id="new_page" action="/adventures/:adventure_id/pages/new" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="u46vgibuIviwdEEHvkjgStTcR3bLGsRhCUw+cHp947Z1GeM4qNQ+xq32mrrHld/eRmJkR0nCDYPh8R/JRy2qkw==">
<input type="hidden" name="page[adventure_id]" id="page_adventure_id">
<input type="hidden" value="1" name="page[parent_id]" id="page_parent_id">
<input type="hidden" value="2" name="page[user_id]" id="page_user_id">
<label for="page_Body Text">Body text</label>
<textarea name="page[body]" id="page_body" style="margin: 0px; height: 97px; width: 161px;"></textarea><br>
<label for="page_Ending">Ending</label>
<input type="text" name="page[end]" id="page_end"><br>
<label for="page_Choice 1">Choice 1</label>
<input type="text" name="page[choice1]" id="page_choice1"><br>
<label for="page_Choice 2">Choice 2</label>
<input type="text" name="page[choice2]" id="page_choice2"><br>

<input type="submit" name="commit" value="submit" data-confirm="You are about to submit. Are you sure?" data-disable-with="submit">
</form>

<% 
=end %>