

<% 
=begin %>

-page.parent_path
-page.adventure.root_path
-page.adventure.title
-page.body
-page.user
-page.user_path
-page.user.name
-page.child1_id
-page.child2_id
-page.child1_path
-page.child2_path
-page.choice1
-page.choice2
-page.end

<%= render 'header', 
  left: "<a class='btn btn-primary' href='#{@page.parent_path}' role='button'>
    <span class='glyphicon glyphicon-triangle-left' aria-hidden='true'></span> Last Page
  </a>", 
  center: "<a href=#{@page.adventure.root_path} style='color:white; text-decoration: underline;'>#{@page.adventure.title}</a>", 
  right: "#{render 'bookmarks_tooltip'}"
%>

<div class="container body-drop" style="height:100%">
  <div class="jumbotron" style="border-style:solid; border-color:black; border-width:3px; min-height:calc(100% - 200px); position:relative">

<div style="">
  <div class="" style="padding-bottom:150px;">
    <%= simple_format(@page.body)%><%# Can find a different formatter for this later, probably a gem %>
    <br>
  </div>
  <div class="" style="position:absolute; bottom:0; height:200px; width:calc(100% - 120px); text-align:center">

    <div style="height:50px; text-align:right; color:#666">
      <% if @page.user %>
        Written by: <a href=<%= @page.user_path %>><%= @page.user.name %></a>
      <% end %>
    </div>

    <div class="" style="width:calc(100% + 120px); position:relative; top:50; right:60px; border-top: 3px solid black;">&nbsp</div>

    <div class="" style="">
      <% if @page.end? %>
        <%= render 'end', page:@page %>
      <% else %>
        <%= render 'choices', page:@page %>
      <% end %>
    </div>

  </div>
</div>

  </div> <%# Jumbotron %>
  <div>
    <% 2.times do %>
      <br>
    <% end %>
  </div>
</div>

//Partials

//Choices
<% if page.child1_id %>
<div>
  <a class='btn btn-primary btn-lg btn-block' href=<%= page.child1_path %> role='button'>
    <%= page.choice1 %>
  </a>
</div>
<% else %>
<div>
  <a class='btn btn-danger btn-lg btn-block' href=<%= new_adventure_page_path(:option => 1) %> role='button'>
    <%= page.choice1 %>
  </a>
</div>
<% end %>
<br>
<% if page.child2_id %>
<div>
  <a class='btn btn-primary btn-lg btn-block' href=<%= page.child2_path %> role='button'>
    <%= page.choice2 %>
  </a>
</div>
<% else %>
<div>
  <a class='btn btn-danger btn-lg btn-block' href=<%= new_adventure_page_path(:option => 2) %> role='button'>
    <%= page.choice2 %>
  </a>
</div>
<% end %>

//End
<div style="font-weight:bold; font-size:1.5em;"><%= page.end %></div>
<br>
<div>
  <a class='btn btn-primary btn-lg' href=<%= @page.adventure.root_path %> role='button'>
    <span class='glyphicon glyphicon-repeat' aria-hidden='true'></span> Play again?
  </a>
</div>


<% 
=end %>