<div class="container body-drop">
  <div class="jumbotron" style="border-style:solid; border-color:black; border-width:3px; min-height:700px">

<%= form_for @adventure do |f| %>
  <%= f.label "Title" %>
  <%= f.text_field :title %><br>
  <%= f.label "Critical Size" %>
  <%= f.text_field :critical_size %><br>
  <%= f.fields_for :pages, @adventure.pages.build do |pages_fields| %>
    <%= pages_fields.label "Body Text" %>
    <%= pages_fields.text_area :body %><br>
    <%= pages_fields.label "Choice 1" %>
    <%= pages_fields.text_field :choice1 %><br>
    <%= pages_fields.label "Choice 2" %>
    <%= pages_fields.text_field :choice2 %><br>
  <% end %>
  <%= f.submit "submit", data: {confirm: "You are about to submit. Are you sure?"} %>
<% end %>

  </div>
  <div>
    <% 2.times do %>
      <br>
    <% end %>
  </div>
</div>