<div class="container body-drop">
  <div class="jumbotron" style="border-style:solid; border-color:black; border-width:3px; min-height:700px">

<% if @page && @page.errors.any? %>
  <div id="error_explanation" style="border-color:red; border-width:1px; border-style:solid; padding:2em">
    <b>
      <%= pluralize(@page.errors.count, "error") %>
      prohibited your account from being created:
    </b>
    <br>
    <% @page.errors.full_messages.each do |msg| %>
      <%= msg %><br>
    <% end %>
  </div>
  <br>
<% end %>

<%= form_for @page, url: adventure_page_path do |f| %>
<%= f.hidden_field :id %>
<%= f.label "Body Text" %>
<%= f.text_area :body %><br>
<%= f.label "Ending" %>
<%= f.text_field :end %><br>
<%= f.label "Choice 1" %>
<%= f.text_field :choice1 %><br>
<%= f.label "Choice 2" %>
<%= f.text_field :choice2 %><br>

<%= f.submit "submit", data: {confirm: "You are about to submit. Are you sure?"} %>
<% end %>

  </div>
  <div>
    <% 2.times do %>
      <br>
    <% end %>
  </div>
</div>