<a href=<%= @page.adventure.root_path %>><%= @page.adventure.title %></a><br>
<div class="bordered">
  <br>
  <% if @page.parent_id %>
  <span style="float:left">
    <a href=<%= @page.parent_path %>>Last page</a>
  </span>
  <% end %>
  <% if @page.user %>
  <span style="float:right">
    Written by: <a href=<%= @page.user_path %>><%= @page.user.name %></a>
  </span>
  <% end %>
  <div style="clear:both"><br></div>
</div>

<div class="bordered">
  <%= simple_format(@page.body) %>
</div>

<div class="bordered" style="width:75%; margin:auto">
  <br>
  <% if @page.end? %>
    <b><%= @page.end %></b><br>
    <a href=<%= @page.adventure.root_path %>>Play again?</a>
  <% else %>
    <span style="float:left">
      <% if @page.child1_id %>
        <a href=<%= @page.child1_path %>><%= @page.choice1 %></a>
      <% else %>
        <ghil class="bordered"><%= link_to @page.choice1, new_adventure_page_path(:option => 1) %></ghil>
      <% end %>
    </span>
    <span style="float:right">
      <% if @page.child2_id %>
        <a href=<%= @page.child2_path %>><%= @page.choice2 %></a>
      <% else %>
        <ghil class="bordered"><%= link_to @page.choice2, new_adventure_page_path(:option => 2) %></ghil>
      <% end %>
    </span>
  <% end %>
  <div style="clear:both"><br></div>
</div>