<a href="/adventures/<%= @page.adventure_id %>/pages/1"><%= @page.adventure.title %></a><br>
<div style="border-style:solid; border-color:red; border-width:1px">
  <br>
  <% if @page.parent_id %>
  <span style="float:left">
    <a href="/adventures/<%= @page.adventure.id %>/pages/<%= @page.parent_id %>">Last page</a>
  </span>
  <% end %>
  <% if @page.user %>
  <span style="float:right">Written by: <a href="<%= user_path(@page.user) %>"><%= @page.user.name %></a></span>
  <% end %>
  <div style="clear:both"><br></div>
</div>

<div style="border-style:solid; border-color:blue; border-width:1px">
  <%= @page.body %>
</div>

<div style="border-style:solid; border-color:green; border-width:1px; width:50%; margin:auto">
  <br>
  <% if @page.end? %>
    <b><%= @page.end %></b><br>
    <a href="/adventures/<%= @page.adventure.id %>/pages/1">Play again?</a>
  <% else %>
    <span style="float:left">
      <% if @page.child1_id %>
        <a href="/adventures/<%= @page.adventure.id %>/pages/<%= @page.child1_id %>"><%= @page.choice1 %></a>
      <% else %>
        <ghil style="border-style:solid; border-color:red; border-width:1px"><%= link_to @page.choice1, new_adventure_page_path(:option => 1) %></ghil>
      <% end %>
    </span>
    <span style="float:right">
      <% if @page.child2_id %>
        <a href="/adventures/<%= @page.adventure.id %>/pages/<%= @page.child2_id %>"><%= @page.choice2 %></a>
      <% else %>
        <ghil style="border-style:solid; border-color:red; border-width:1px"><%= link_to @page.choice2, new_adventure_page_path(:option => 2) %></ghil>
      <% end %>
    </span>
  <% end %>
  <div style="clear:both"><br></div>
</div>