<!DOCTYPE html>
<html>
  <head>
    <title>ProtagonistCollective</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= root_path %>" style="color: #01D1E5">Protag.co</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= nav_link 'Home', root_path %></li>
          <li><%= nav_link 'How it Works', howitworks_path %></li>
          <li><%= nav_link 'Adventures List', '/adventures' %></li>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-default navbar-fixed-top secondary-header">
    <div class="container secondary-vertalign">
          <div class="secondary-left">left</div>
          <div class="secondary-center">center</div>
          <div class="secondary-right">right</div>
    </div>
  </nav>

  <div class="container body-drop">
    <div class="jumbotron">
      <%= yield %>
    </div>
    <div>
    <% 2.times do %>
      <br>
    <% end %>
  </div>
  </div>



  <nav class="footer navbar-fixed-bottom" style="background:black; border-top:1px; border-color:black; border-style:solid">
    <div class="container" style="color:#666; text-align: right">
      &copy; Copyright <a href="http://www.davidnoahball.com/" style="color:#666; text-decoration: underline;">David Noah Ball</a>
    </div>
  </nav>
</body>
</html>
