<!DOCTYPE html>
<html>
  <head>
    <title>ProtagonistCollective</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="logo">
      <h1><a href="/">The Protagonist Collective</a></h1>
    </div>
    <p id="top">Build your collective adventure.</p>
    <ul id="menu">
      <li><%= nav_link 'Home', root_path %></li>
      <li><%= nav_link 'How it Works', howitworks_path %></li>
      <li><%= nav_link 'Adventures List', '/adventures' %></li>
      <% if session[:user_id] %>
        <li><%= nav_link 'Your Profile', user_path(session[:user_id]) %></li>
      <% else %>
        <li><a class="loggedout" href="/login">Login or Signup</a></li>
      <% end %>
      <% if params[:adventure_id] && session[:user_id] %>
        <% if Adventure.find(params[:adventure_id]).critical? %>
          <li style="float:right;">This Adventure is critical!</li>
        <% else %>
          <li style="float:right;">You have <b><%= User.find(session[:user_id]).ends_available(Adventure.find(params[:adventure_id])) %></b> endings available.</li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div id="content">
    <div class="full">

      <%= yield %>

    </div>
  </div>
  <div id="footer">
    <p>&copy; Copyright <a href="http://www.davidnoahball.com/">David Noah Ball</a></p>
  </div>
</div>
</body>
</html>
