<!DOCTYPE html>
<html>
  <head>
    <title>ProtagonistCollective</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= nav_link 'Home', root_path %></li>
          <li><%= nav_link 'How it Works', howitworks_path %></li>
          <li><%= nav_link 'Adventures List', '/adventures' %></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><%= nav_link 'Home', root_path %></li>
          <li><%= nav_link 'How it Works', howitworks_path %></li>
          <li><%= nav_link 'Adventures List', '/adventures' %></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container body-drop">
    <div class="jumbotron">
      <%= yield %>
    </div>
  </div>
</body>
</html>
